<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.caty.pgl.obs-collector-luca</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>python3</string>
    <string>__PGL_REPO__/bin/pgl-obs-collector-luca</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PGL_REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>PGL_HOME</key>
    <string>__PGL_HOME__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>5</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__PGL_HOME__/logs/collector-luca.out.log</string>
  <key>StandardErrorPath</key>
  <string>__PGL_HOME__/logs/collector-luca.err.log</string>
</dict>
</plist>
