<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.caty.pgl.mirror-weekly-luca</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/env</string>
    <string>python3</string>
    <string>__PGL_REPO__/bin/pgl-mirror-weekly</string>
    <string>luca</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PGL_REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>PGL_HOME</key>
    <string>__PGL_HOME__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>2</integer>
    <key>Hour</key>
    <integer>1</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__PGL_HOME__/logs/mirror-weekly-luca.out.log</string>
  <key>StandardErrorPath</key>
  <string>__PGL_HOME__/logs/mirror-weekly-luca.err.log</string>
</dict>
</plist>
